body, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Header hover */
.nav-item a {
  transition: 0.5s;
  border-bottom: 2px solid transparent;
}
.nav-item a:hover {
  border-bottom: 2px solid #fff;
}

/* Container 01 hover */ 
.container01 a {
  background-color: #ffcc00;
  border: 2px solid transparent;
  transition: 0.5s;
}
.container01 a:hover {
  border: 2px solid #fff;
}

.container01 img {
  transition: 0.5s;
}
.container01 img:hover {
  transform: rotateX(40deg);
}

/* Container02 hover*/



