// Display flex
@mixin flex($direction: row, $justify: flex-start, $align: normal, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}
// height and width
@mixin hw($height: 0, $width: 0) {
  height: $height;
  width: $width;
}
// Margin and padding
@mixin mp($margin: 0, $padding: 0) {
  margin: $margin;
  padding: $padding;
}