@import "../variables";
@import "../mixins";

.section {
  @include flex(column, space-evenly, center);
  gap: 0.5rem;
  padding: 7rem;

  .title {
    font-size: $size-1;
    color: $dark;
  }
  // Div - 1
  .div {
    @include flex(column,start, start);
    width: 55%;
    gap: 1rem;
    padding: 1rem;
    border-radius: $br;
    background-color: $white;
    .subtitle {
      font-size: $size-2;
    }
    .description {
      font-size: $size-3;
    }
  }
}

@media (max-width: 480px) {
  .section .div {
    width: auto;
  }


  .section .title {
    font-size: $size-2;
  }
}