@import "../variables";
@import "../mixins";

.section {
  @include flex(column, center, center);
  gap: 1rem;
  padding: 7rem;
  background-color: $bg-color02;
  
  .div01 {
    
    .title {
      font-size: $size-1;
    }
  }

  .div02 {
    display: flex;
    text-align: left;
    .input {
      padding: 1rem;
      width: 600px;
      border-radius: $br;
      border: none;
    }
    .button {
      padding: 1rem;
      background-color: $dark;
      border-radius: $br;
      text-decoration: none;
      color: $white;
    }
  }
}