@import "../variables";
@import "../mixins";

.header {
  @include flex(_,center,center);
  padding: 6rem;
  color: $white;
  // Div - 1
  .div01 {
    @include flex(column,_,start);
    gap: 1rem;
    .title {
      font-size: $size-1;
    }
    .subtitle {
      font-size: $size-2;
    }
     .description  {
      font-size: $size-3;
    }
    .btn {
      display: block;
      text-decoration: none;
      color: $dark;
      font-size: $size-3;
      padding: 1rem;
      border-radius: $br;
      background-color: $bg-color02;
      transition: 0.5s;
      &:hover {
        background-color: $white;
      }
    }
  }
  .div02 {
    .image {
      display: none;
      &:hover {
        transform: rotateX(30deg);
      }
    }
  }
}
@media (min-width: 1280px) {
  .header .div02 .image {
    display: inline-block;
    max-width: auto;
    height: 380px;
  }
}
@media (min-width: 1920px) {
  .header .div02 .image {
    display: inline-block;
    height: 600px;
  }
}


