@import url('https://fonts.googleapis.com/css2?family=Unna:wght@400;700&display=swap');

@import './variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Unna', serif;
  font-weight: 100;
  font-size: 24px;
  text-decoration: none;
  background-color: $color01;
  color: $color02;
}
