body, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Header Effect */
.nav-item a {
  transition: 0.5s;
  border-bottom: 2px solid transparent;
}
.nav-item a:hover {
  border-bottom: 2px solid #fff;
}

/* Button Effect */ 
.fbtn {
  transition: 0.5s;
  border: 2px solid transparent;
}
.fbtn:hover {
  border: 2px solid #fff;
}

/* Card Button Effect */
.cbtn {
  transition: 0.5s;
  border: 2px solid transparent;
}
.cbtn:hover {
  border: 2px solid #000;
}

/* Image Effect */
.cloud {
  transition: 0.5s;
}
.cloud:hover {
  transform: rotateX(40deg);
}

/* Input Effect */
.einput {
  outline: none;

  border: 2px solid transparent;
}

.einput:focus{
  border: 2px solid #000;
}

/* Email Button */
.ebtn {
  border: 2px solid transparent;
  transition: 0.5s;
}

.ebtn:hover {
  border: 2px solid #fff;
  background-color: #181717;
}



