// Background Color
$bg-color01: linear-gradient(210deg, #0ed4ff, #0047b2);
$bg-color02: #ffde59;
$bg-color03: #292929;
// Text Size
$title-1: 4rem;
$title-2: 4rem - 1;
$subtitle-1: 2.2rem;
$subtitle-2: 2.2rem - 0.5;
$description-1: 1.2rem;
$description-2: 1.2rem - 0.4;
$description-3: 1.2rem - 0.5;
// Border
$br: 0.9rem;
// Color
$white: #fff;
$dark: #292929;

