@import "variables";
@import "mixins";

.section {
  @include flex(column, space-evenly, center);
  padding: 7rem;
  gap: 1rem;
  background-color: $bg-color02;
  .title {
    font-size: $title-1;
    color: $dark;
  }
  // Div - 1
  .div {
    @include flex(column,start, start);
    width: 55%;
    gap: 1rem;
    padding: 1rem;
    border-radius: $br;
    background-color: $white;
    .subtitle {
      font-size: $subtitle-1;
    }
    .description {
      font-size: $description-2;
    }
  }
}

@media (max-width: 480px) {
  .section .div {
    width: auto;
  }


  .section .title {
    font-size: $subtitle-1;
  }
}