@import "variables";



main {
  height: 100vh;
  background: $bg-color01;

}

.content {
  height: 100vh;
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7rem;
  color: $text-white;

  .div01 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;

    .title {
      font-size: 3rem;
    }
  
    .subtitle {
      font-size: 2.2rem;
    }

     .description  {
      font-size: 1rem;
    }

    .btn {
      display: block;
      text-decoration: none;
      color: $text-dark;
      font-size: 1rem;
      padding: 1rem;
      border-radius: 0.9rem;
      background-color: $bg-color02;
      transition: 0.5s;
      &:hover {
        background-color: aliceblue;
      }
    }
  
  }

  .div02 {
    .image {
      height: 600px;
      &:hover {
        transform: rotateX(30deg);
      }
    }
  }
}

@media (min-width: 1280px) and (max-width: 1440px)  {
  .header .div02 .image {
    height: 400px;
  }
}

@media (min-width: 768px)  and (max-width: 979px) { 
  .header .div02 .image {
    display: none;
  }
}


