@import "variables";
@import "mixins";

.section {
  @include flex(column, center, center);
  gap: 3rem;
  background-color: $bg-color02;
  // Div - 1
  .div01 {
    .title {
      font-size: $title-1;
    }
  }
  // Div - 2
  .div02 {
    text-align: center;
    width: 55%;
    .subtitle {
      font-size: $subtitle-1;
    }
    .description {
      font-size: $description-1;
    }
  }
  // Div - 3
  .div03 {
    .button {
      margin: 1rem;
      padding: 0.5rem;
      border: none;
      border-radius: $br;
      cursor: pointer;
      &:hover {
        background-color: $white;
      }
    };
  }
}